[Unit]
Description=Raspberry Pi Power Button

[Service]
User=pi
ExecStart=/home/pi/.nvm/versions/node/v6.2.0/bin/node /home/pi/projects/node-pi-gpio-powerbutton/index.js

[Install]
WantedBy=multi-user.target
